@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

$aworan-primary : #2F80ED;
$aworan-sec: #323D59;
$aworan-ter: #DFECF8;
$aworan-sec-2: #132043;
$aworan-font-400: 400;
$aworan-font-500: 500;
$aworan-font-600: 600;
$aworan-font-700: 700;
$aworan-font-800: 800;
$primary-radii: 2rem;
$sec-radii: 1rem;
$ter-radii: .6rem;
$a-spacing1: 1.7rem;
$a-spacing2: 3.8rem;
$aworan-footer-padding: 5rem;
$pxel-18 : 1.8rem;
$pxel-22 : 2.2rem;
$pxel-36 : 3.6rem;
$pxel-48: 4.8rem;
$pxel-14: 1.4rem;
$pxel-12 : 1.2rem;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
}


a {
	font-weight: $aworan-font-500;
	text-decoration: none;
}

body {
	// font-weight: $aworan-font-400;
	color: $aworan-sec;
	background: #EFF4F9;

}

a {
	color: $aworan-sec;
}

// color
.d-blue {
	color: $aworan-primary;
}

.d-bg-blue {
	background: $aworan-primary;
}

.d-blue-sec {
	color: $aworan-sec;
}

.d-blue-blue-sec {
	background: $aworan-sec;
}

// aworan fonts
.font-700 {
	font-weight: $aworan-font-700;
}

.font-500 {
	font-weight: $aworan-font-500;
}

.font-400 {
	font-weight: $aworan-font-400;
}

.font-18 {
	font-size: $pxel-18;
}

.font-36 {
	font-size: $pxel-36;
}

.font-22 {
	font-size: $pxel-22;
}

.font-48 {
	font-size: $pxel-48;
}

.font-14 {
	font-size: $pxel-14;
}

.font-12 {
	font-size: $pxel-12;
}

// border
.rounded-20 {
	border-radius: 1.8rem;
}

.round-pri {
	border-radius: $primary-radii;
}

.round-sec {
	border-radius: $sec-radii;
}

.round-ter {
	border-radius: $ter-radii;
}

.p-footer {
	padding: $aworan-footer-padding;
}

.footer-1 {
	background: $aworan-ter;
	min-height: 90rem;
}

.footer-2 {
	background: $aworan-sec-2;
	min-height: 93rem;
	padding-top: 6em;
	padding-bottom: 6em;

	.inner {
		background: #1C2B53;
		min-height: 50rem;
		border-radius: $ter-radii ;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 7.8rem;

		input {
			width: 55rem;
		}
	}

	.inner-2 {
		margin: 4rem inherit;

		.links {
			padding-top: 4rem;
			padding-bottom: 4rem;

			a {
				display: block;
				color: #fff;
				margin: 1.5rem 0;
				font-weight: $aworan-font-400;
			}
		}

		p {
			font-weight: $aworan-font-700;
			font-size: $pxel-18;
		}



	}
}

// home css
.gallery-cont {
	.pic-meta {
		opacity: 0;
		transition: 1s;
	}

	&:hover {
		.pic-meta {
			opacity: 1;
		}
	}
}

// padding
.apt-10 {
	padding-top: 10rem;
}

.apb-10 {
	padding-bottom: 10rem;
}

.amt-10 {
	margin-top: 10rem;
}

.amb-10 {
	margin-bottom: 10rem;
}

.apt-6 {
	padding-top: 6rem;
}

.apb-6 {
	padding-bottom: 6rem;
}

.amt-6 {
	margin-top: 6rem;
}

.amb-6 {
	margin-bottom: 6rem;
}

.apt-4 {
	padding-top: 4rem;
}

.apb-4 {
	padding-bottom: 4rem;
}

.amt-4 {
	margin-top: 4rem;
}

.amb-4 {
	margin-bottom: 4rem;
}

.apt-2 {
	padding-top: 2rem;
}

.apb-2 {
	padding-bottom: 2rem;
}

.amt-2 {
	margin-top: 2rem;
}

.amb-2 {
	margin-bottom: 2rem;
}

input,
select {
	border: 1px solid #E8EBF4;
	background: #fff;
	border-radius: .6rem;
}

// sidebar
.sidebar {
	height: 100vh;
	background: #EFF4F9;

	.side-nav {
		position: sticky;
		top: 0;
		height: 100vh;
	}

	.img-container {
		width: 10rem;
		height: 10rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	a {
		display: flex;
		align-items: center;
		padding: $a-spacing1 2.5rem;
		box-shadow: 0px 0px 6px rgba(188, 210, 244, 0.3);
		border-radius: $ter-radii;
		width: 20rem;
		max-width: 80%;
		margin: $a-spacing1 auto;
		color: #8A99AA;

		i {
			display: inline-block;
			margin-right: 1.5rem;
			width: 2rem;
		}

		span {
			display: block;
		}
	}

	a.active {
		background: #1A79D1;
		color: #fff;
		font-weight: 700;
	}
}

.cont-container {
	padding: 0 4rem;
}

// settings
.settings {
	.tabs {
		padding-left: 3rem;
		box-shadow: 0px 4px 12px rgba(197, 219, 244, 0.2);
		font-size: 1.3rem;

		span {
			display: block;
			padding: 2.3rem 0;
			display: block;
			margin-right: 3rem;

			&:hover {
				border-bottom: 2px solid $aworan-primary
			}

			input {
				width: 33.2rem;
				max-width: 100%;
			}
		}


	}

	.content {
		padding: 3.3rem 3rem;

		.row {
			gap: 3rem;

			.bank {
				min-height: 13rem;
				border: 1px solid #E8EBF4;
			}

			.bank {
				color: #1A79D1;
			}

			.del-bank {
				background: #EFF4F9;
				padding: 1.5rem 2rem;

				small {
					color: #8A99AA;
					;
				}
			}

			th {
				padding-bottom: 2rem;
				font-size: 1.2rem;
				font-weight: 500;
				color: #8A99AA
			}

			tr {
				.img {
					width: 10.5rem;
					height: 5.6rem;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				td {
					padding: 2.4rem 0;

					.dropdown-toggle,
					ul {
						box-shadow: 0px 2px 6px rgba(188, 210, 244, 0.2);
						border-radius: 6px;
						border: 1px solid #E8EBF4;
					}

					.dropdown-toggle::after {
						display: none;
					}

				}


			}
		}
	}
}

.addbank,
.profile {
	color: #8A99AA;
	font-size: 1.4rem;
	font-weight: 500;

	input {
		border: 1px solid #E8EBF4;
		border-radius: .6rem;
		width: 100%;
	}

	label {
		font-size: 1.4rem;
	}

	.bt {
		padding-top: 7.7rem;
	}
}

.create {
	.upload {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10.3rem 0;

		.file {
			width: 54.5rem;
			height: 38.2rem;
			display: grid;
			place-content: center;
			text-align: center;
			cursor: pointer;
			border-radius: 2rem;
			border: 2px solid #323D59;
			margin-bottom: 11.2rem;
		}

		.preview {
			label {
				color: #8A99AA;
				font-size: 1.4rem;
			}

			span,
			input {
				border: 1px solid #333333;
				font-size: 1.4rem;
				background: #fff;
			}

			.tags {
				gap: 4rem;
				flex-wrap: wrap;

				span {
					flex-shrink: 0;
				}
			}
		}
	}
}

.dashboard {
	span {
		font-size: 1.2rem;
		text-transform: uppercase;
		color: #8A99AA;
	}

	.col-md-3 {
		p {
			font-size: 3.5rem;
			color: #8A99AA;
		}
	}

}

.auth {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;

	input {
		border: 1px solid #E8EBF4;
	}

	label {
		color: #8A99AA;
		font-weight: 500;
	}

	form {
		width: 48.4rem;
		max-width: 95%;
		padding: 5rem 3rem;


		p {
			margin: 3.5rem 0;
			color: #323D59;
			font-size: 2.4rem;
		}
	}
}